.footer {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: gray;
    padding-top: 20px;
}
.mt-0 {
    margin-top: 0;
}
.mt-78 {
    margin-top: 75vh;
}
.isEmpty {
    margin-top: 65vh;
}